In [5]:
import numpy as np

## 1. DataTypes & Attributes

In [6]:
# Numpy's Main Data Type is ndArray

a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [7]:
type(a1)

numpy.ndarray

In [8]:
a2 = np.array([[1,2,3],
               [4,5,6],
               [7,8,9]])
a3 = np.array([[[1,2,3],
                [4,5,6],
                [7,8,9]],
               [[10,11,12],
                [13,14,15],
                [16,17,18]]])

In [9]:
a2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [10]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [11]:
a1.shape

(3,)

In [12]:
a2.shape

(3, 3)

In [13]:
a3.shape

(2, 3, 3)

In [14]:
a1.ndim , a2.ndim , a3.ndim    #Number pf Dimensions

(1, 2, 3)

In [15]:
a1.dtype , a2.dtype , a3.dtype

(dtype('int32'), dtype('int32'), dtype('int32'))

In [16]:
a1.size , a2.size , a3.size

(3, 9, 18)

In [17]:
type(a1) , type(a2) , type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [18]:
# create a Dataframe from numpy arrey

In [19]:
import pandas as pd

df = pd.DataFrame(a2)

In [20]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

## 2. Creating Arrays

In [21]:
sample_array = np.array([1 , 2, 3])
sample_array

array([1, 2, 3])

In [22]:
sample_array.dtype

dtype('int32')

In [23]:
ones = np.ones(5)
ones

array([1., 1., 1., 1., 1.])

In [24]:
ones.dtype

dtype('float64')

In [25]:
type(ones)

numpy.ndarray

In [26]:
zeros = np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [27]:
range_array = np.arange(5,1000,50)
range_array

array([  5,  55, 105, 155, 205, 255, 305, 355, 405, 455, 505, 555, 605,
       655, 705, 755, 805, 855, 905, 955])

In [28]:
random_array = np.random.randint(0 , 10 , size = (3,4))
random_array

array([[9, 7, 6, 7],
       [9, 7, 0, 1],
       [3, 2, 5, 7]])

In [29]:
random_array.shape

(3, 4)

In [30]:
np.random.random((3,5))

array([[0.90350439, 0.62852312, 0.64298061, 0.7606028 , 0.60544359],
       [0.73213789, 0.46440635, 0.89640292, 0.94838948, 0.44148077],
       [0.49954936, 0.70936489, 0.47944804, 0.99884729, 0.43188557]])

In [31]:
random_array_4 = np.random.rand(3,5)

In [32]:
#pseudo random numbers
np.random.seed()

## 3. Viewing arrays and matrices

In [34]:
np.unique(random_array_4)

array([0.01210021, 0.1079306 , 0.2479762 , 0.24970861, 0.32646732,
       0.36804068, 0.40110234, 0.44486442, 0.47432257, 0.6318725 ,
       0.66194888, 0.68247852, 0.70798203, 0.70879826, 0.98048257])

In [35]:
a1

array([1, 2, 3])

In [36]:
a2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [37]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [38]:
a1[0]

1

In [39]:
a2[0]

array([1, 2, 3])

In [40]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [46]:
# Slicing of the arrays

a3[:2,:3,:2]

array([[[ 1,  2],
        [ 4,  5],
        [ 7,  8]],

       [[10, 11],
        [13, 14],
        [16, 17]]])

In [49]:
a4 = np.random.randint(10 , size = (2,3,4,5))
a4

array([[[[1, 5, 3, 4, 3],
         [9, 5, 0, 3, 4],
         [2, 0, 6, 4, 7],
         [1, 3, 6, 7, 7]],

        [[5, 6, 5, 1, 9],
         [6, 6, 4, 8, 5],
         [7, 4, 8, 6, 5],
         [4, 6, 6, 6, 6]],

        [[6, 9, 0, 9, 8],
         [6, 9, 5, 5, 4],
         [7, 1, 2, 6, 3],
         [1, 1, 2, 5, 6]]],


       [[[1, 2, 9, 1, 1],
         [6, 2, 9, 0, 8],
         [8, 3, 1, 5, 3],
         [9, 8, 4, 9, 1]],

        [[7, 3, 9, 3, 4],
         [5, 1, 8, 7, 4],
         [6, 4, 9, 0, 2],
         [8, 4, 0, 3, 6]],

        [[9, 8, 9, 8, 1],
         [0, 0, 6, 1, 2],
         [6, 2, 4, 2, 4],
         [8, 9, 2, 7, 5]]]])

In [50]:
a4[1][1][0]

array([7, 3, 9, 3, 4])

In [53]:
a4[:, :, :, :4]

array([[[[1, 5, 3, 4],
         [9, 5, 0, 3],
         [2, 0, 6, 4],
         [1, 3, 6, 7]],

        [[5, 6, 5, 1],
         [6, 6, 4, 8],
         [7, 4, 8, 6],
         [4, 6, 6, 6]],

        [[6, 9, 0, 9],
         [6, 9, 5, 5],
         [7, 1, 2, 6],
         [1, 1, 2, 5]]],


       [[[1, 2, 9, 1],
         [6, 2, 9, 0],
         [8, 3, 1, 5],
         [9, 8, 4, 9]],

        [[7, 3, 9, 3],
         [5, 1, 8, 7],
         [6, 4, 9, 0],
         [8, 4, 0, 3]],

        [[9, 8, 9, 8],
         [0, 0, 6, 1],
         [6, 2, 4, 2],
         [8, 9, 2, 7]]]])

## 4. Manipulating and comparing

### Arithematic

In [54]:
a1

array([1, 2, 3])

In [55]:
ones

array([1., 1., 1., 1., 1.])

In [56]:
ones = np.ones(3)

In [57]:
ones

array([1., 1., 1.])

In [58]:
a1 + ones

array([2., 3., 4.])

In [59]:
a1 - ones

array([0., 1., 2.])

In [64]:
a1*ones

array([1., 2., 3.])

In [65]:
a1

array([1, 2, 3])

In [61]:
a2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [63]:
a1 * a2

array([[ 1,  4,  9],
       [ 4, 10, 18],
       [ 7, 16, 27]])

In [66]:
a2*a3

array([[[  1,   4,   9],
        [ 16,  25,  36],
        [ 49,  64,  81]],

       [[ 10,  22,  36],
        [ 52,  70,  90],
        [112, 136, 162]]])

In [69]:
a2.shape , a3.shape

((3, 3), (2, 3, 3))

In [70]:
a1 / ones

array([1., 2., 3.])

In [71]:
a2 / a1

array([[1. , 1. , 1. ],
       [4. , 2.5, 2. ],
       [7. , 4. , 3. ]])

In [72]:
a2 // a1

array([[1, 1, 1],
       [4, 2, 2],
       [7, 4, 3]])

In [73]:
a2 ** 2

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

In [74]:
a2 / 2

array([[0.5, 1. , 1.5],
       [2. , 2.5, 3. ],
       [3.5, 4. , 4.5]])

In [75]:
a2 % 2

array([[1, 0, 1],
       [0, 1, 0],
       [1, 0, 1]], dtype=int32)

In [76]:
np.square(a2)          #Similar as    a2**2

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

In [78]:
np.add(a1,a2)          #similar as a1+a2

array([[ 2,  4,  6],
       [ 5,  7,  9],
       [ 8, 10, 12]])

In [79]:
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [80]:
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

### Agregation

aggregation = performing the same openration on the number of things

Use Python's methods (`sum()`) on python datatypes and use numpy's methods on Numpy arrays (`np.sum()`)

In [84]:
# Create a massive numpy array
massive_array = np.random.random(100000)
massive_array.size

100000

In [89]:
massive_array[:10]

array([0.47925841, 0.56986815, 0.9388453 , 0.53231632, 0.47346998,
       0.1539298 , 0.02586763, 0.61657869, 0.43110556, 0.39683416])

In [91]:
%timeit   sum(massive_array)    #python's Sum
%timeit   np.sum(massive_array) #Numpy's np.Sum

12.4 ms ± 258 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
68.5 µs ± 3.74 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [92]:
a2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [94]:
np.mean(a2)

5.0

In [95]:
np.max(a2) , np.min(a2)

(9, 1)

In [96]:
# Standard deviation = a measure of how spread out a group of numbers from the number is  
np.std(a2)              #Standard Deviation

2.581988897471611

In [99]:
# varience = measure of the average degree to which each number is different to the mean
# Higher Varience = wider range of numbers
# Lower varience = Lower Range of numbers
np.var(a2)              #Varience

6.666666666666667

In [101]:
#Standard deviation = square root of varience

np.sqrt(np.var(a2))

2.581988897471611